extends layout

block content
  #landing.flex-container.section
    .greeting
      a(href='#portfolio')
        .message-bubble
          p.message Hey! Thanks for visiting!
          p.message-two Welcome to my Portfolio!
        img.landing-icon(src='images/me.jpg', alt='Brandon Patterson')
    .landing-title
        h2 Brandon Patterson
        hr
        h2 Web Developer
    .tech-icon
      .flex-container
        each icon in icons
          img(src=`${icon.filepath}`, alt=`${icon.alt}`)
  #portfolio.flex-container.section
    h2 Portfolio
    .flex-container
      each product in products
        .flex-container
          div
            h3= product.title
            hr
            a(href=`${product.link}`)
              img.product-img(src=`${product.filepath}`, alt=`${product.alt}`)
            p= product.about
  #about.flex-container.section
    h2 About
    p My name is Brandon Patterson and I'm a Full Stack Web Developer and I'm also a musician. I enjoy collaborating with people and making amazing things happen!
  #contact.flex-container.section
    h2 Contact
    .flex-container
      a(href='mailto:someone@example.com?Subject=Hey%20Brandon!') 
        h3 brandnpatterson@gmail.com
      a(href='tel:979-236-4789')
        h3 (979) 236-4789
    br
    a(href='images/BrandonPattersonResume.pdf', download='')
      img(src='images/BrandonPattersonResume.png')
  
