extends layout

block content
  #landing
    .landing-title
        h2 Brandon Patterson
        hr
        h2 Web Developer
    .tech-icon
      .flex-container
        each icon in icons
          img(src=`${icon.filepath}`, alt=`${icon.alt}`)
  #portfolio
    h2 Portfolio
    .flex-container
      each product in products
        .flex-container
          div
            a(href=`${product.link}`)
              img.product-img(src=`${product.filepath}`, alt=`${product.alt}`)
            p= product.about    
  #contact
    .flex-container
      a(href='mailto:someone@example.com?Subject=Hey%20Brandon!') 
        h2 brandnpatterson@gmail.com
      a(href='tel:979-236-4789')
        h2 (979) 236-4789
    br
    a(href='images/brandon-patterson-resume-2017.pdf', download='')
      img(src='images/brandon-patterson-resume-2017.png')
  
